.lobbytitle {
	text-align: center;
	color: #9ea4b0;
}
.lobby-wrap {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	width: 1366px;
	height: 768px;
	margin: 0 auto;
}
.lobby-button {
	display: block;
	flex-grow: 2;
	width: 10%;
	padding: 10px 20px;
	border: 4px solid #999999;
	background: linear-gradient(0deg, #071b4a, #000420);
	color: #9ea4b0;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}
.lobby-button:not(:last-of-type) {
	margin-right: 15px;
}
.lobby-button:hover {
	filter: brightness(140%);
}


/* Information */

.info {
	padding: 5px;
	text-align: center;
	color: #ff3333;
}
.error {
	border: 2px solid #ff3333;
}