<!DOCTYPE html>
<html>
<head>
	<title>Wixoss Client v.0.0.4</title>
	<link rel="stylesheet" type="text/css" href="/files/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/files/css/global.css">
	<link rel="stylesheet" type="text/css" href="/lobby/css/lobby.css">
</head>
<body>
<div id="app">
	<div class="global-wrap">
		<div class="global-size">
			<div class="global-header">
				<h1 class="lobby-title">Wixoss Client v.0.0.4</h1>
			</div>
			<div class="global-main">
				<div class="lobby-wrap">
					<div class="lobby-list-block">
						<div class="lobby-filter-wrap">
							<input class="lobby-name-filter main-input"type="text" name="name-filter" id="name-filter">
							<div class="progress-filter-wrap">
								<input type="checkbox" name="progress-filter" id="progress-filter" placeholder="Search for rooms by name">
								<label for="progress-filter">Show rooms, where game has started.</label>
							</div>
							<button class="filters-modal-button main-button hvr-shutter-in-horizontal" @click="toggleModal('filter')">Filters</button>
						</div>
						<div class="lobby-gamelist-wrap">
							<ul class="game-list" id="game-list">
								<!-- Output list of rooms -->
								<game-room v-for="room in gameRooms" room="room" inline-template>
									<li id="">{{room.name}}</li>
								</game-room>
								
							</ul>
						</div>

						<!-- Room -->

						<div class="room-wrap js-none" id="room-wrap">
							<div class="room-player-list">
								<!-- Output players -->
								yeye
							</div>
							<div class="room-ex-buttons">
								<button class="main-button hvr-shutter-in-horizontal" id="room-open-button">OPEN!</button>
								<button class="main-button hvr-shutter-in-horizontal" id="room-invite-button">Invite</button>
								<button class="main-button hvr-shutter-in-horizontal" disabled id="room-kick-button">Kick</button>
								<button class="main-button hvr-shutter-in-horizontal" id="room-choose-deck">Choose deck</button>
								<button class="main-button hvr-shutter-in-horizontal" id="room-ready-button">Ready to batoru</button>
								<button class="main-button hvr-shutter-in-horizontal" id="room-close-button">Close room</button>
								<button class="main-button hvr-shutter-in-horizontal" id="room-leave-button">Leave room</button>
							</div>
						</div>
						<!-- /Room -->

						<div class="lobby-buttons-wrap">
							<button class="main-button hvr-shutter-in-horizontal" @click="toggleModal('create')">Create</button>
							<button class="main-button hvr-shutter-in-horizontal" v-bind:disabled="allowJoining" @click="toggleModal('password')">Join</button>
							<button class="main-button hvr-shutter-in-horizontal" v-bind:disabled="allowJoining" @click="toggleModal('password')">Spectate</button>
							<button class="main-button hvr-shutter-in-horizontal" disabled @click="toggleModal('friends')">Friends</button>
							<a class="main-button hvr-shutter-in-horizontal" href="../deck-editor/">Decks</a>
							<a class="main-button hvr-shutter-in-horizontal" href="../">Back</a>
						</div>
					</div>
					<div class="lobby-chat-block">
						<div class="chat-buttons">
							<button class="js-active-button" id="chat-button">Chat</button>
							<button id="server-button">Server info</button>
						</div>
						<div class="chat-tab tab" id="chat-tab">
							<ul class="not-a-list">
								<li>Msg 1</li>
								<li>Msg 2</li>
							</ul>
						</div>
						<div class="server-tab tab js-none" id="server-tab">
							<ul class="not-a-list">
								<li>Server info 1</li>
								<li>Server info 2</li>
							</ul>
						</div>
						<div class="message-field-wrap">
							<input class="chat-message-field main-input" type="text" name="chat-message-field" id="chat-message-field">
							<button class="main-button hvr-shutter-in-horizontal" id="send-message">Send</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="global-footer">
		<div class="global-size">
			<span>Open!</span>
		</div>
	</div>

	<div class="modal-window" id="modal" v-show="showModal">
		<div class="info-block info" id="info-block"></div>
		<div class="modal-close" @click="toggleModal()"></div>

	<!-- Create game modal -->
		<form class="create-room-form" id="create-room-form" v-show="createRoomModal">
			<label for="room-name">Room name:</label>
			<input class="create-room-input" type="text" name="room-name" id="room-name">
			<label for="room-format">Game format:</label>
			<input class="create-room-input" name="room-format" type="text" id="room-format" value="as" disabled>
			<ul class="room-format-list not-a-list js-none">
				<li data-value="as">All Stars</li>
				<li data-value="ks">Key Selection</li>
				<li data-value="nb">No Mayu's Room</li>
			</ul>
			<label for="room-time-limit">Time limit (seconds):</label>
			<input class="create-room-input" type="text" name="room-time-limit" id="room-time-limit" value="180">
			<label for="room-password">Protect with password:</label>
			<input class="create-room-input" type="text" name="room-password" id="room-password">
			<button class="main-button hvr-shutten-in-horizontal">Create</button>
		</form>

	<!-- Filter modal -->

		<form class="filter-modal-wrap" v-show="filterModal">
			<input type="number" name="people-count">
			<input type="text" name="spectators-allowed">
			<input type="text" name="username">
			<input type="checkbox" name="hide-password-protected">
		</form>


	<!-- Game is protected by password modal -->

		<form class="game-password-modal" id="game-password-modal" v-show="passwordModal">
			<span>Enter password to join this room.</span>
			<input type="text" name="enter-game-password" id="join-password">
			<button>Join</button>
		</form>

	<!-- Friend list modal -->

		<form class="friend-list-modal" v-show="friendListModal">
			<!-- Still thinking -->
		</form>
	</div>
</div>


	<script src="/socket.io/socket.io.js"></script>
	<script src="/files/js/jquery-3.3.1.js"></script>
	<script src="/files/js/vue.js"></script>
	<script src="/files/js/global.js"></script>
	<script src="/lobby/js/lobby-vue.js"></script>
</body>
</html>