<!DOCTYPE html>
<html>
<head>
	<title>Wixoss Client v.0.0.4</title>
	<link rel="stylesheet" type="text/css" href="/files/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/files/css/global.css">
	<link rel="stylesheet" type="text/css" href="/main-menu/css/main-menu.css">
</head>
<body>
	<div class="global-wrap">
		<div class="global-size">
			<div class="global-header">
				<h1 class="main-title">Wixoss Client v.0.0.4</h1>
			</div>
			<div class="global-main">
				<div class="menu-wrap">
					<a class="main-button	hvr-shutter-in-horizontal" id="play" href="/lobby/">Play</a>
					<a class="main-button	hvr-shutter-in-horizontal" id="deck-editor" href="/deck-editor/">Deck Editor</a>
					<a class="main-button	hvr-shutter-in-horizontal" id="options" href="#">Options</a>
					<a class="main-button	hvr-shutter-in-horizontal" id="profile" href="#">Profile</a>
					<a class="main-button	hvr-shutter-in-horizontal" id="language" href="#">Language</a>
					<a class="main-button	hvr-shutter-in-horizontal" id="parse" href="/parse-db/">Parser</a>
					<a class="main-button	hvr-shutter-in-horizontal" id="logout" href="#">Logout</a>
				</div>
			</div>
		</div>
	</div>
	<div class="global-footer">
		<div class="global-size">
			<span>Open!</span>
		</div>
	</div>

	<!-- Login popup -->

	<div class="login-wrap js-none js-dissolve" id="login-wrap">
		<form class="login-form" id="login-form">
			<div class="info"></div>
			<label>Username</label>
			<input type="text" name="username" id="login-username">
			<label>Password</label>
			<input type="text" name="password" id="login-password">
			<label>Remember me</label>
			<input type="checkbox" name="remember" id="login-remember">
			<button id="login-submit">Log in</button>
		</form>
	</div>

	<!-- Sign Up popup -->

	<div class="sign-up-wrap js-none js-dissolve" id="sign-up-wrap">
		<form class="sign-up-form" id="sign-up-form">
			<div class="info"></div>
			<label>Username</label>
			<input type="text" name="username" id="sign-up-username">
			<label>Password</label>
			<input type="text" name="password" id="sign-up-password">
			<button id="sign-up-submit">Sign Up</button>
		</form>
	</div>



	<script src="/socket.io/socket.io.js"></script>
	<script src="/files/js/jquery-3.3.1.js"></script>
	<script src="/files/js/global.js"></script>
	<script type="text/javascript" src="/main-menu/js/main-menu.js"></script>
</body>
</html>