button, a, .search-submit {
	text-decoration: none;
	color: white;
}
button:hover, a:hover, .search-submit {
	cursor: pointer;
	text-decoration: none;
}
	
.deck-editor-wrap {
	width: 1280px;
	height: 800px;
	margin: 10px auto 0;
	display: flex;
	flex-flow: row nowrap;
	color: #ffffff;
}

.info-block {
	display: flex;
	flex-flow: column wrap;
	min-width: 280px;
	width: 20%;
}
.info-block span {
	text-transform: capitalize;
}
#info-img {
	width: 200px;
	margin: 0 auto;
}
.info-text img {
	margin-bottom: -6px;
}

main {
	width: 80%;
	padding: 0 5px;
	display: flex;
	flex-flow: column wrap;
	flex-grow: 2;
}
main img {
	width: 80px;
}
.deck-manage {
	position: relative;
	width: 100%;
	height: 30px;
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	margin: 0 0 10px;
}

.deck-manage > button, .deck-manage > a, .search-submit, .more-button {
	display: block;
	width: 16%;
	flex-grow: 2;
	background-color: #999999;
	border: none;
	outline: none;
	text-align: center;
	text-transform: capitalize;
}
.deck-manage a {
	padding: 5px 0 0;
}
.deck-manage button:hover, .deck-manage a:hover, .search-submit:hover {
	color: #000000;
	background-color: #99ccff;
}
.main-deck {
	width: 100%;
	/*height: 65%;*/
	flex-grow: 2;

}
.lrig-deck {
	width: 100%;
	height: 20%;
}
.main-card-block, .lrig-card-block {
	display: flex;
	flex-flow: row wrap;
	max-height: 348.9px;
	overflow-y: auto;
}
.card {
	position: relative;
	cursor: pointer;
}
.card:hover {
	filter: contrast(125%);
}
.card-count {
	position: absolute;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	padding-top: 3px;
	border-radius: 50%;
	background-color: #33cc33;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	line-height: 15px;
}

.l-deck-check, .m-deck-check {
	width: 100%;
}

.search-block {
	width: 100%;
	max-height: 215px;
	box-sizing: content-box;
	display: flex;
	flex-flow: column nowrap;
}
.search-result {
	display: flex;
	flex-flow: column wrap;
	overflow-x: scroll;
}
.search-block img {
	display: block;
	min-width: 100px;
	align-self: center;
	cursor: pointer;
}
.search-block img:hover {
	filter: contrast(125%);
}
.more-button {
	width: 100%;
	padding: 5px 0 0;
	color: #ffffff;
}
.more-button:hover {
	color: #000000;
	background-color: #99ccff;
}
.search-field, .search-submit{
	display: block;
	width: 95%;
	margin: 0 auto 5px;
}

/* Save deck block styles */

.save-deck-block {
	position: absolute;
	top:  100%;
	left: 18%;
	z-index: 10;
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	width: 50%;
	height: 0;
	overflow: hidden;
	background: rgba(255, 255, 255, 1);
	color: #000000;
	transition: all 0.3s linear 0s;
}
.save-deck-block input {
	width: 90%;
	margin: 15px 0;
}
.save-deck-block button {
	color: #000000;
}
.save-active {
	height: 110px;
}

/* Load deck styles and Delete block styles */

.deck-list-block, .delete-list-block {
	position: absolute;
	top:  100%;
	left: 16%;
	z-index: 10;
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	width: 300px;
	height: 0;
	overflow-y: auto;
	background: rgba(255, 255, 255, 1);
	color: #000000;
	transition: all 0.3s linear 0s;
}
.delete-list-block {
	left: 42%;
}
.deck-list-active, .delete-list-active {
	height: 300px;
}
.deck-list, .delete-list {
	width: 100%;
	list-style: none;
	padding: 10px;
}
.deck-list li:hover, .delete-list li:hover {
	cursor: pointer;
	background-color: #000000;
	color: #ffffff;
}




/* Filter styles */

.filter-block {
	position: absolute;
	top:  100%;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 0;
	overflow: hidden;
	background: rgba(255, 255, 255, 1);
	color: #000000;
	transition: all 0.3s linear 0s;
}
.filter-block form {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}
.filter-first, .filter-second {
	display: flex;
	flex-flow: column wrap;
	width: 50%;
	padding: 20px;
}
.filter-submit {
	width: 100%;
	padding: 20px;
	text-align: center;
}

.filter-visible {
	height: 460px;
}
